#conversation {
    height : 80%;
    width: 100%;
    background-color:#f1f1f1;
    overflow-y: scroll;
}
#msg{
    align-self: center;
}
.counselor-emoji {
    width: 18px;
    margin-left: 32px;
    margin-right: 10px;
}


.chat1-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}
.chat1-header {
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
}
.chat1-image {
    height: 2rem;
}
.chat1-nav {
    display: flex;
}
.chat1-btn-group {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.chat1-login {
    border-width: 0px;
    margin-right: 32px;
}
.chat1-burger-menu {
    display: none;
}
.chat1-icon {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
}
.chat1-mobile-menu {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: 32px;
    z-index: 100;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}
.chat1-nav1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.chat1-container01 {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 48px;
    justify-content: space-between;
}
.chat1-image1 {
    height: 2rem;
}
.chat1-menu-close {
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat1-icon02 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
}
.chat1-icon04 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
}
.chat1-icon06 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
}
.chat1-icon08 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
}
.chat1-container02 {
    width: 100%;
    height: 663px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: #E9E9E9;
}
.chat1-container03 {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.chat1-container04 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
}
.chat1-image2 {
    width: 35px;
    height: 35px;
    margin-left: 15px;
    border-radius: 50%;
}
.chat1-text {
    top: 171px;
    left: 320px;
    margin: auto;
    position: absolute;
    margin-left:15px;
}
.chat1-container05 {
    flex: 0 0 auto;
    width: 200px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.chat1-ul {
    width: 100%;
    height: 100%;
    position: relative;
    border-color: #d9d9d9;
    border-width: 1px;
    background-color: #F1F1F1;
    border-left-width: 0px;
    border-right-width: 0px;
    list-style-type: none;
    display:grid;
    padding:10px;
    align-items:start;
    align-content: baseline;

}

.list-item{
    width: fit-content;
    height: auto;
    position: relative;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    border-radius: 30px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom:15px;
    max-width: 85%;
}
.chat1-li1 {
    background-color: #ffffff;
    float:left;
}
.chat1-li2 {
    background-color: #ffd584;
    float:right;
    justify-self: end;
}

.chat1-container06 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
}
.chat1-image3 {
    width:23px;
    object-fit: cover;
}
.chat1-textinput {
    text-align: start;
    color: #000000;
    width: 423px;
    height: 70%;
    border-width: 0px;
    margin-right:10px;
    flex: auto;
    margin-top:0px;
}
.chat1-button {
    border-radius: 4px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
    border: 2px solid #ffc451;
    background-color: #ffffff;
    width: 38px;
    height: 35px;
    margin-right: 4px;
}
.send-btn{
    width:20px;
}
.chat1-container07 {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-top-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 20px;
}
.chat1-image4 {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 5px 5px 10px 0px #d4d4d4;

}
.chat1-text03 {
    position: absolute;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.chat1-text04 {
    text-align: center;
    align-self: center;
    margin-bottom: 10px;
    font-size: 15px;
    color: #7f7f7f;
}
.chat1-text05 {
    align-self: center;
    text-align: center;
    font-size: 11px;
    padding:10px;
}
.chat1-text06-info{
    font-size: 13px;
}
/*@media(max-width: 1200px) {*/
    .chat1-container02 {
        border-radius: 4px;
        border-top-left-radius: 20px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 0;
        background-color:#e9e9e9;
        margin-top:73px;
    }
    .chat1-container03 {
        height: 585px;
        width: 35%;
        border-radius: 4px;
        background-color: #ffffff;
        border-top-left-radius: 20px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 0;
    }
    .chat1-container04 {
        border-radius: 20px;
        width:100%;
        height:10%;
        display: flex;
        align-items: center;
    }
    .chat1-image2 {
        position: static;
    }
    .chat1-text {
        width: 80%;
        position: static;
        text-align: left;
    }
    .chat1-container05 {
        width: 100%;
        height: 75%;
        align-self: center;
        background-color: #e9e9e9;
        border-top-width: 0.5px;
        border-bottom-width: 0.5px;
        border-color: #d9d9d9;

    }
    .chat1-container06 {
        position: relative;
        border-bottom-left-radius: 20px;
        background-color: #ffffff;
        height:10%;
        width:100%;
    }
    .chat1-image3 {
        position: static;
        margin-left: 15px;
        margin-right: 10px;
    }
    .chat1-textinput {
        position: static;
    }
    .chat1-button {
        position: static;
    }
    .chat1-container07 {
        height: 585px;
        width: 20%;
        background-color: #ffffff;
        box-shadow: 5px 5px 10px 0px #d4d4d4;

    }
    .chat1-image4 {
        margin: 20px;
        position: static;
        align-self: center;
        margin-top: 30px;
    }
    .chat1-text03 {
        position: static;
        align-self: center;
    }
    .chat1-text04 {
        position: static;
    }
    .chat1-container08 {
        /*position: 0px;*/
    }
/*}*/
/*@media(max-width: 767px) {*/
    .chat1-header {
        padding-left: 32px;
        padding-right: 32px;
    }
    .chat1-nav {
        display: none;
    }
    .chat1-btn-group {
        display: none;
    }
    .chat1-burger-menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }
/*}*/
/*@media(max-width: 479px) {*/
    .chat1-header {
        padding: 16px;
    }
    .chat1-mobile-menu {
        padding: 16px;
    }
/*}*/
